.player-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-top: 2%;
    
    
}
.btn {

    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    transition: color 0.3s ease-in-out;
}
.btn-play {
   font-size: 2.4rem;
    padding-right: 0;
}

.btn:hover {
    color: #fff;
}

.btn-stop {
    padding-right: 0;
    padding-left: 0;
}
.btn-stop:hover {
    color: red;

}

.btn-shuffle {
    padding-right: 0.5rem;
    font-size: 1rem;
    padding-top: 1rem;
}
.btn-shuffle:hover {
    color: yellow;
}

.cover{
    max-width: 100%;
    max-height: 75vh;
}


.song-cover-container {
    margin: 1rem auto;
    
}

body {
    margin: 0;
    padding: 0;
    background-image: url('http://img.youtube.com/vi/yJpJCZYTL74/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set the height to cover the entire viewport */
    display: block;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background: inherit;
    width: 100%;
    height: 100%;
    filter: blur(16px) ;
    z-index: -1;
}
.slidecontainer{
    margin-top: -1rem;
    width:100%;
    z-index:1;
    opacity:0.6;

}



.slidecontainer:hover{
    opacity:1;
}

.song-list{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: rgba(0,0,0,0.5);
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    opacity:0.6;

    
}
#tracks-container {
    max-height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 1rem;
    z-index: 1;
    padding-right: 1rem; /* Add padding to avoid content being partially hidden by the scrollbar */
}

#tracks-container::-webkit-scrollbar {
    width: 0.5rem;
}

#tracks-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

#tracks-container::-webkit-scrollbar-track {
    background-color: transparent;
}

#tracks-container::-webkit-scrollbar-corner {
    background-color: transparent;
}


.title-text{
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;
    text-shadow: 0.5px 0 #c5c5c5, -0.5px 0 #c5c5c5, 0 1px #c5c5c5, 0 -0.5px #c5c5c5,
    0.5px 0.5px #c5c5c5, -0.5px -0.5px #c5c5c5, 0.5px -0.5px #c5c5c5, -0.5px 0.5px #c5c5c5;
}

.list-item{
    display: flex
}
.list-item-cover{
    width: 20%;
    margin-right: 1rem;
}
.list-item-title{

    max-width: 80%;
    margin-left: 1rem;
    text-align: left;
    font-size: 0.5rem;
    white-space:pre-line;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list-item-duration{
    font-size: 0.5rem;
}

.list-group-item{
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 8px;
}
.now-playing-icon{
margin: auto;
font-size: 1rem;
}

.playlists-container{
    height: 100vh;
    width: 100%;
    display: flex;
    
}

@media (max-width: 1400px) {
    .song-list{
        display: none;
    }
}

/* PlayList Card CSS */

.playlist-card-container {
  position: relative;
  width: 18rem;
  height: 25vh;
  /* background shadow*/
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #3d3c3c;
  margin-top:1rem;
}
.playlist-card-container:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s;
    color: #070707;
    overflow: visible;
}
.playlist-card-image{
    width: 100%;
    height: 100%;
    border-radius:10px;
}
.playlist-card-image:hover{
    opacity: 0.5;
    transition: 0.5s;

}
.playlist-icons:hover{
    color: #ffffff;
    font-size: 4rem;
    transition: 0.5s;
}

.playlist-card-nav{
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
    font-size: 1.5rem;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                     1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.playlist-card-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

.playlist-card-title{
    position: absolute;
    max-height: 5vh;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 18px;
    left: 50%;
    top: 12rem;
    overflow: hidden;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
                 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}


