.videospage-container{
    width: 100vw;
    height:100vh; 
    background-color:aqua
}
.videospage-videos{
    width: 100%; 
    height:20%; 
    background-color:white; 
    display:flex;  
    align-items:center;
}
.videospage-video{
    width: 20vw; 
    height:90%; 
    background-color:yellow; 
    margin:0px 2px
}


