<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
       
        <title>GO AWAY</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            html, body {
                height: 100%;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
               
            }
            div {
                text-align: center; /* To center align the content inside the div */
            }
        </style>
    </head>
    <body>
        <!-- center an image -->
        <div>
            <img src="/images/error_401.jpg" alt="go away">
            <h1>GO AWAY! and get new URL from discord </h1>
            <h2>use /url command in discord</h2>
        </div>
    </body>
    </html>
