<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel = "stylesheet" href = "player.css">
    <link rel="stylesheet" href="slider.css">
</head>
<body>
  

  <div class="offcanvas offcanvas-top" tabindex="-1"  style="background-color: rgba(17, 18, 20, 0.799); color:white"   id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasTopLabel" style="color: white; text-align:center; width:100%">SoundPad</h5>
      <button type="button"  class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="container">
        <div class="row soundpad-row">

          <div  class="col soundpad-col">
            <button class="soundpad-button">AAAA
              <i id="" class="fa fa-play soundpad-icon"></i>
            </button>
          </div>
          <div class="col soundpad-col">
            <button class="soundpad-button">AAAA</button>
          </div>
          <div class="col soundpad-col">
            <button class="soundpad-button">AAAA</button>
          </div>
          <div class="col soundpad-col">
            <button class="soundpad-button">AAAA</button>
          </div>
          <div class="col soundpad-col">
            <button class="soundpad-button">AAAA</button>
          </div>
        </div>

        <div class="row soundpad-row">
          <div  class="col soundpad-col">
            <button class="soundpad-button">AAAA</button>
          </div>
          <div class="col soundpad-col">
            <button class="soundpad-button">AAAA</button>
          </div>
          <div class="col soundpad-col">
            <button class="soundpad-button">AAAA</button>
          </div>
          <div class="col soundpad-col">
            <button class="soundpad-button">AAAA</button>
          </div>
          <div class="col soundpad-col">
            <button class="soundpad-button">AAAA</button>
          </div>
        </div>
      </div>

    </div>
    <div class="soundpad-add-button">
      <a href="/soundpad/index"><i id="shuffleIcon" class="material-icons" >add_circle</i></a>
    </div>
  </div>


    <div class="container text-center ">

        <div class="row " >

          <div class="col-3 song-list" >

            <h2 >Up Next</h2>
              <hr style=" border: 2px solid white;">
            <div  class="card" >

                <ul id="tracks-container" class="list-group list-group-flush">
            <!--  **** one song-list item  ****      -->
                <!--

                <li class="list-group-item">
                  <div class="list-item">
                    <img src="http://img.youtube.com/vi/yJpJCZYTL74/maxresdefault.jpg" class="list-item-cover" alt="...">
                    <div class="col " style="padding: 0;">
                      <h1 class="list-item-title">Aleyne tilki - O sen Olsan Bari (xSR1GAsXEV) </h1>
                      <h1 class="list-item-duration">05:38 </h1>
                    </div>
                    <i class="fa fa-music now-playing-icon"></i>
                  </div>
                </li> -->
            <!--  **** one song-list item  ****      -->


              </ul>
            
            </div>

          </div>

          <div class="col">
              <div class="container-offcanvas" >
                <button class="btn"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><i id="" class="material-icons"  style="font-size: 3rem;" >expand_more</i></button>
                
              </div>
            <div class="player-container" >
            
                <div class="row" >

                  <div id="carouselExampleControls" class="carousel slide" data-interval="false" >
                    <div class="carousel-inner" >
                        <!-- *** Initial song image *** -->
                      <div class="carousel-item active">
                        <img  src="http://img.youtube.com/vi/yJpJCZYTL74/maxresdefault.jpg" class="d-block w-100 cover" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" onclick="clearList()" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next"  type="button" onclick="nextSong()" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                    </div>

                <div class="slidecontainer" >
                  <input id="trackSlider" class="win10-thumb" type="range" min="1" max="100" value="50" style="width:100%;">
                </div>


                <div class="row title-volume">
                    <div class="song-title">
                      <h2 id="current-song-title" class="title-text">Nothing Playing </h2>
                    </div>
                </div>     
                  <div class="row">
                    <div class="col">
                      <div>
                          <button class="btn btn-shuffle" onclick="shuffle()"><i id="shuffleIcon" class="material-icons" >shuffle</i></button>
                          <button class="btn btn-stop" onclick="clearList()"><i class="fa fa-stop"></i></button>
                          <button class="btn btn-play" onclick="playPause()"><i id="playPauseIcon" class="fa fa-play"></i></button>
                          <button class="btn " onclick="nextSong()"><i class="fa fa-forward"></i></button>
                      </div>
                    </div>

                </div>
            </div>
          </div>     
        </div>
        </div>
    </div>
    <!--  ****   Playlist Section   ****               -->

    <div  class="playlists-container container">
      <div id="playlists-container" class="container text-center">

         
      </div>
  </div>














    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="utils.js"></script>
    <script src="player.js" th:attr="playlists=${playlists}, tracks=${tracks} "></script>

</body>
</html>